# Database Configurations
DB_URL=jdbc:mysql://localhost:3306/credx?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=Dinesh@2006

# JWT Configurations
# Ensure the secret is a base64 encoded string of at least 256 bits (32 bytes)
JWT_SECRET=5J2b55yX55qE6Zu25L+h6KaB57Si5b+F6aG75oiQ5YqfMTIzNDU2Nzg5MA==
JWT_EXPIRATION_MS=86400000
